<section class="contact-container">
    <div class="row">
        <div class="col-lg-7">
    <h2>Sign in</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
        <label class="left-label" for="name">Name</label>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name" formControlName="name">
          <div *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.hasError('required')"class="error-message">
            Name is required
          </div>
        </div>
      
        <label class="left-label" for="email">Email</label>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" formControlName="email">
          <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.hasError('required')" class="error-message">
            Email is required
          </div>
          <div *ngIf="contactForm.get('email')?.hasError('email')" class="error-message">
            Invalid email format
          </div>
        </div>
      
        <label class="left-label" for="message">Message</label>
        <div class="form-group">
          <textarea class="form-control" id="message" name="message" rows="4" placeholder="Message" formControlName="message"></textarea>
          <div *ngIf="contactForm.get('message')?.touched && contactForm.get('Message')?.hasError('required')" class="error-message">
            Message is required
          </div>
        </div>
      
        <div class="form-group">
          <button type="submit">Send</button>
        </div>
      </form>
      
        </div>
    </div> 
</section>